<ion-view  view-title="">
  <ion-content ng-class="class">
  	<div class="list">
	    <a class="item item-thumbnail-left text-left">
	      <img ng-if="dados.empresa.EMP_Foto" src="{{dados.empresa.EMP_Foto}}">
	      <img ng-if="!dados.empresa.EMP_Foto" src="https://drogarialecer.com.br/BACKOFFICE/Uploads/Produto/Normal/indisponivel.png">
	      <h2><b>{{dados.empresa.EMP_Nome}}</b></h2>
	
	     <p>{{dados.empresa.EMP_Endereco}}, {{dados.empresa.EMP_Telefone}} <br> {{dados.empresa.EMP_DiaFuncionamento}}<br>{{dados.empresa.EMP_HorarioFuncionamento}}</p>
	    </a>
		</div>
		<h3 class="title">Promoções</h3>
  	<div id="cupons" ng-repeat="promocao in dados.promocoes">
  		<div class="row">
		  	
				  <div class="item item-text-wrap">
				  	<div ng-if="promocao.PRO_PercentualDesconto != 0"><b class="desconto">{{promocao.PRO_PercentualDesconto}}%</b></div>
				    <img ng-if="promocao.PRO_Imagem" src="{{promocao.PRO_Imagem}}" style="width: 100%;">
				    <img ng-if="!promocao.PRO_Imagem" src="https://drogarialecer.com.br/BACKOFFICE/Uploads/Produto/Normal/indisponivel.png" style="width: 100%;">
				  
				    <h2><b>{{promocao.PRO_CupomUsado}}</b> - {{promocao.EMP_Nome}}</h2>
				    <p><b class="text-danger">Válido até:</b> {{promocao.PRO_Vencimento | date:'dd/MM/yyyy'}}</p>
				    <p>{{promocao.PRO_Descricao}}</p>
				    <p><b class="text-danger">Regulamento:</b> {{promocao.PRO_Regulamento}}</p>
				    <div ng-if="promocao.PRO_PrecoAntigo == promocao.PRO_PrecoAtual">
				    	<p class="preco">R$ <b class="text-danger">{{promocao.PRO_PrecoAntigo | currency: 'R$ '}}</b></p>
				    </div>
				    <div ng-if="promocao.PRO_PrecoAntigo != promocao.PRO_PrecoAtual">
				    	<p class="preco">De R$ <b class="text-danger">{{promocao.PRO_PrecoAntigo | currency: 'R$ '}}</b> por <b class="text-danger">{{promocao.PRO_PrecoAtual | currency: 'R$ '}}</b></p>
				    </div>
				  </div>
				
			</div>
  	</div>
  	<br>
  	<br>
  	<br>
  	<br>
  	<br>
  	<br>
 </ion-view>
